* {
  font-family: "JetBrains Mono", monospace;
  color: #3a1aff;
}
.topnav {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 5%;

  margin-right: 5%;
}

.topnav a {
  float: right;
  color: #3a1aff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: white;
  background-color: #3a1aff;
}

.desc {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.desc > .photo-desc {
  width: 50%;
  margin-left: 10%;
}

.desc > .text-desc {
  width: 100%;
  margin-right: 10%;
}

.social-media > a {
  width: 100%;
  margin-right: 10px;
}

.about-me {
  margin-top: 5%;
}
.about-me > h1 {
  text-align: center;
}

.project {
  margin-top: 5%;
}

.project > h1 {
  text-align: center;
}

.project-list {
  background-color: #cac1ff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 2%;
}

.project-list > h2 {
  font-size: 20px;
}

.blog {
  margin-top: 5%;
}

.blog > h1 {
  text-align: center;
}

.blog-list {
  background-color: #cac1ff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 2%;
  width: fit-content;
}

.blog-list > h2 {
  font-size: 20px;
}

.blog-list > .see-more {
  font-weight: bold;
}

.get-in-touch {
  margin-top: 5%;
  margin-bottom: 10%;
}

.get-in-touch > h1 {
  text-align: center;
  margin-bottom: 2%;
}

.get-in-touch > .social-media {
  text-align: center;
}

.get-in-touch > .social-media > a {
  text-decoration: none;
  margin-right: 10px;
  background-color: #cac1ff;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .desc {
    flex-direction: column;
  }

  .desc > .text-desc > h1 {
    text-align: center;
  }

  .desc > .photo-desc {
    margin-left: 0%;
  }

  .about-me {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  .get-in-touch > h1 {
    margin-bottom: 5%;
  }
}
